$bg-color: #1e1e1e;
$bg-gradient: linear-gradient(to bottom right, #9181f4, #5038ed);

$default-width: 90%;
$default-height: 90%;

$error-color: #ed5038;
$error-font-size: 14px;

$container-max-width: 600px;
$container-max-height: 600px;

$card-background: #ffffff;
$card-border-radius: 24px;
$card-max-width: 500px;
$card-max-height: 500px;
$card-font-name: "Poppins", sans-serif;
$card-title-font-weight: 700;
$card-title-font-size: 32px;
$card-title-line-height: 45px;
$card-title-color: #333333;
$card-title-align: center;

$spacer: 64px;

$form-control-bottom-margin: 16px;
$form-input-border-radius: 16px;
$form-input-border-style: none;
$form-input-bg-color: #f0edffcc;
$form-input-font-name: "Poppins", sans-serif;
$form-input-font-size: 12px;
$form-input-line-height: 18px;
$form-input-font-weight: 400;
$form-input-padding-inline: 16px;
$form-input-height: 52px;
$form-input-width: calc(100% - ($form-input-padding-inline * 2));

$form-checkbox-border-style: solid 1px #333;
$form-checkbox-border-radius: 4px;
$form-checkbox-font-name: "Inter", sans-serif;
$form-checkbox-font-size: 16px;
$form-checkbox-line-height: 28px;
$form-checkbox-font-weight: 400;
$form-checkbox-size: 16px;
$form-checkbox-mt: 6px;
$form-checkbox-mr: 10px;

$form-button-text-align: center;
$form-button-font-name: "Poppins", sans-serif;
$form-button-font-size: 12px;
$form-button-line-height: 18px;
$form-button-font-weight: 700;
$form-button-color: #ffffff;
$form-button-padding: 17px;
$form-button-width: 124px;
$form-button-border-style: none;
$form-button-border-radius: 16px;

$form-error-border-style: solid 1px #ed5038;
$form-error-padding: 8px 16px;
$form-error-width: calc(75% - 32px);
$form-error-border-radius: 16px;
$form-error-bg-color: #fdedeb;

$loading-bg-color: #e0e0e0;
$loading-progress-color: #5038ed;
