@import "../variables";

.alert {
  &__error {
    color: $error-color;
    font-size: $error-font-size;
    padding: $form-error-padding;
    border: $form-error-border-style;
    border-radius: $form-error-border-radius;
    background: $form-error-bg-color;
    margin-bottom: $form-control-bottom-margin;
    width: calc(75% - 32px);
    text-align: center;
  }
}
